<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>Detalhes do Sistema Externo</title>
</head>
<body>
	<section layout:fragment="header">
		<h1>
			Detalhes da Cidade <small>Administração</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">Detalhes da Cidade</li>
		</ol>
	</section>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-12">
				<!-- Horizontal Form -->
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Detalhes da Cidade</h3>
					</div>
					<!-- /.box-header -->
					<!-- form start -->
					<form th:action="@{/cidade/save/}" th:object="${form}"
						method="post" class="form-horizontal">
						<div class="box-body">
							<div class="form-group">
								<label class="col-sm-2 control-label">Código</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" name="codigo" 
										th:value="${cidade.codigo}" placeholder="Código do Sistema Externo">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">Descrição</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" name="descricao" 
										th:value="${cidade.descricao}">
									
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">UF</label>
								<div class="col-sm-4">
									<select class="form-control" id="ufDescricao"
										name="ufCodigo">
										<option value="">Selecione a UF</option>
										<option 
											th:each="uf : ${ufs}"
											th:value="${uf.codigo}" 
											th:text="${uf.descricao}"
											th:selected="${uf.codigo == cidade.ufCodigo}"></option>
									</select>
								</div>
							</div>							

						</div>
						<!-- Modal de confirmação -->
						<div class="modal fade" id="modalConfirmacao" tabindex="-1"
							role="dialog" aria-labelledby="modalConfirmacaoLabel"
							aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="modalConfirmacaoLabel">Confirme sua ação</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Fechar">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">Tem certeza que deseja cancelar o
										cadastro?</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Continuar com o cadastro</button>
										<a th:href="@{/cidade/list}">
											<button type="button" class="btn btn-danger">Voltar para a lista</button>
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- /.box-body -->
						<div class="box-footercenter"
							style="display: flex; justify-content: center;">
							<a>
								<button type="button" class="btn btn-default btn-space"
									data-toggle="modal" data-target="#modalConfirmacao">
									<i class="fa fa-right"></i> Cancelar
								</button>
							</a>
							<button type="submit" class="btn btn-info btn-space">
								<i class="fa fa-save"></i> Salvar
							</button>
						</div>
						<!-- /.box-footer -->
					</form>
				</div>
				<!-- /.box -->
			</div>
		</div>
	</div>



	<th:block layout:fragment="script">
		<script src="/dist/js/pages/sidbm_custom.js"></script>
	</th:block>


</body>

</html>